<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html lang="en" class="ie6 ielt7 ielt8 ielt9"><![endif]-->
<!--[if IE 7 ]>
<html lang="en" class="ie7 ielt8 ielt9"><![endif]-->
<!--[if IE 8 ]>
<html lang="en" class="ie8 ielt9"><![endif]-->
<!--[if IE 9 ]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en" xmlns:c="http://java.sun.com/jsp/jstl/core"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>BlogZ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="../css/site.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <script src="../jQuery/jquery-3.3.1.min.js" type="text/javascript"></script>
    <link href="../toastr/toastr.min.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="../toastr/toastr.js"></script>
    <script>
        window.paceOptions = {
            ajax: {
                trackMethods: ['GET', 'POST']
            }
        }
    </script>
    <script src="../pace/pace.js"></script>
    <link href="../pace/themes/pace-theme-minimal.css" rel="stylesheet"/>
    <style>
        .input-xlarge {
            width: 80%;
        }

    </style>
</head>
<script type="text/javascript">
    //记住滚动条位置
    window.onbeforeunload = function () {
        var scrollPos;
        if (typeof window.pageYOffset != 'undefined') {
            scrollPos = window.pageYOffset;
        }
        else if (typeof document.compatMode != 'undefined' && document.compatMode != 'BackCompat') {
            scrollPos = document.documentElement.scrollTop;
        }
        else if (typeof document.body != 'undefined') {
            scrollPos = document.body.scrollTop;
        }
        document.cookie = "scrollTop=" + scrollPos; //存储滚动条位置到cookies中
    }
    window.onload = function () {
        if (document.cookie.match(/scrollTop=([^;]+)(;|$)/) != null) {
            var arr = document.cookie.match(/scrollTop=([^;]+)(;|$)/); //cookies中不为空，则读取滚动条位置
            document.documentElement.scrollTop = parseInt(arr[1]);
            document.body.scrollTop = parseInt(arr[1]);
        }
    }
    //初始化
    $(function () {
        //加载用户名
        $.ajax({
            url: '/page/getinfo',
            type: 'POST',
            success: function (result) {
                if (result.flag == false) {
                    $("#l1").html("<a href='../page/login'>" + result.info + "</a>");
                    l2.style.visibility = 'hidden';
                } else {
                    $("#l1").html("<a href=''>" + result.info + "</a>");
                }
            }
        });
        //获取文章详情
        //pagedetail();
    });

    function commit() {
        var content = $("#textarea").val();
        var paperid = $("#contentid").text();
        var input = /^[\s]*$/;
        if (input.test(content)) {
            toastr.warning("留言不能为空哦~");
            return false;
        }
        if (paperid == "") {
            toastr.warning('页面异常~');
            return false;
        }
        $.ajax({
            url: '/detail/addcomment',
            type: 'POST',
            data: {content: content, paperid: paperid},
            success: function (res) {
                if (res.flag == true) {
                    toastr.success(res.info);
                    location.reload();
                } else {
                    toastr.warning(res.info);
                }
            }
        })
    }

    //提示登录才可评论
    function check() {
        $.ajax({
            url: '/page/getinfo',
            type: 'POST',
            success: function (result) {
                if (result.flag == false) {
                    toastr.warning('请登录后再留言~');
                }
            }
        });
    }

    /*var pageid;
     function pagedetail() {
     var url = location.search;
     if (url.indexOf("?") != -1) {
     var str = url.substr(1);
     strs = str.split("&");
     for(var i = 0; i < strs.length; i ++) {
     pageid = strs[i].split("=")[1];
     }
     }
     $(function () {
     //文章详情
     $.ajax({
     url: '/detail/page',
     type: 'POST',
     data:{id:pageid},
     success: function (result) {

     }
     });
     });
     }*/
</script>
<body>
<div class="container">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span
                        class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a> <a
                    class="brand" href="/home/page">BlogZ</a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li>
                            <a href="/home/page">首页</a>
                        </li>
                        <li class="active">
                            <a href="../page/blogpage.html">博客</a>
                        </li>
                        <li>
                            <a href="">帮助</a>
                        </li>
                    </ul>
                    <ul class="nav pull-right">
                        <li id="l1">

                        </li>
                        <li id="l2">
                            <a href="/page/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--内容详情-->
    <div>
        <div class="pagination-centered">
            <h2><p th:utext="${pagelist[0].title}"></p></h2>
        </div>
        <div class="pagination-centered row">
            <p style="color:#2aabd2">发布时间：<span
                    th:utext="${#strings.substring(pagelist[0].pubtime,0,10)}+'&nbsp &nbsp &nbsp发布人：'+${pagelist[0].author}"></span>
            </p>
        </div>
        <div th:utext="${pagelist[0].content}">文章详情加载中,请稍后...</div>
        <div th:utext="${pagelist[0].id}" hidden id="contentid"></div>
    </div>

    <br/><br/><br/><br/><br/>
    <legend></legend>

    <!--评论-->
    <div>
        <a data-toggle="collapse" href="#message-reply" onclick="check()"><i class="icon-plus"></i> 我要留言</a>
        <div id="message-reply" class="panel-collapse collapse">
            <fieldset>
                <br/>
                <div class="control-group">
                    <div th:align="center">
                        <textarea class="input-xlarge" id="textarea" rows="5"></textarea>
                    </div>
                    <br/>
                    <div th:align="right">
                        <button class="btn btn-primary" onclick="commit()">提交</button>
                        &nbsp
                        <button class="btn" data-toggle="collapse" href="#message-reply">取消</button>
                    </div>
                </div>
            </fieldset>
        </div>
        <h2>
        </h2>
        <ul class="messages" th:each="listc:${commentlist}">
            <li class="well">
                <p class="message" th:text="${listc.content}">
                </p>
                <span style="color:#2aabd2" th:align="right" class="meta"><span th:text="${listc.nickname}"></span> <em>| </em> <span
                        th:utext="${#strings.substring(listc.pubtime,0,19)}"></span> </span>
            </li>
        </ul>
        <div class="pagination" align="center" th:if=" ${pageInfo.pages} ne '0'">
            <ul id="ul1">
                <li id="l4" th:if=" ${pageInfo.prePage} ne '0'">
                    <a href="#" th:href="@{'/detail/page?id='+${pagelist[0].id}+'&pageNum='+${pageInfo.firstPage}}"
                       id="a3">最前页</a>
                </li>
                <li id="l5" th:if=" ${pageInfo.prePage} ne '0'">
                    <a href="#" th:href="@{'/detail/page?id='+${pagelist[0].id}+'&pageNum='+${pageInfo.prePage}}"
                       id="a2">上一页</a>
                </li>
                <li class="active" th:if=" ${pageInfo.prePage} eq '0'">
                    <a>最前页</a>
                </li>
                <li class="active" th:if=" ${pageInfo.prePage} eq '0'">
                    <a>上一页</a>
                </li>
                <li>
                    <a>第<span id="s1" th:text="${pageInfo.pageNum}"></span>/<span id="s2"
                                                                                  th:text="${pageInfo.pages}"></span>页</a>
                </li>
                <li id="l6" th:if=" ${pageInfo.nextPage} ne '0'">
                    <a href="#" th:href="@{'/detail/page?id='+${pagelist[0].id}+'&pageNum='+${pageInfo.nextPage}}"
                       id="a1">下一页</a>
                </li>
                <li id="l7" th:if=" ${pageInfo.nextPage} ne '0'">
                    <a href="#" th:href="@{'/detail/page?id='+${pagelist[0].id}+'&pageNum='+${pageInfo.lastPage}}"
                       id="a4">最后页</a>
                </li>
                <li class="active" th:if=" ${pageInfo.nextPage} eq '0'">
                    <a>下一页</a>
                </li>
                <li class="active" th:if=" ${pageInfo.nextPage} eq '0'">
                    <a>最后页</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/site.js"></script>
</body>
</html>