<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html lang="en" class="ie6 ielt7 ielt8 ielt9"><![endif]-->
<!--[if IE 7 ]>
<html lang="en" class="ie7 ielt8 ielt9"><![endif]-->
<!--[if IE 8 ]>
<html lang="en" class="ie8 ielt9"><![endif]-->
<!--[if IE 9 ]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en" xmlns:c="http://java.sun.com/jsp/jstl/core"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>BlogZ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="../css/site.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <script src="../jQuery/jquery-3.3.1.min.js" type="text/javascript"></script>
    <link href="../toastr/toastr.min.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="../toastr/toastr.js"></script>
    <script>
        window.paceOptions = {
            ajax: {
                trackMethods: ['GET', 'POST']
            }
        }
    </script>
    <script src="../pace/pace.js"></script>
    <link href="../pace/themes/pace-theme-minimal.css" rel="stylesheet"/>
    <!--share.js分享插件-->
    <script src="../share/dist/js/social-share.min.js"></script>
    <link rel="stylesheet" href="../share/dist/css/share.min.css">
    <style>
        .input-xlarge {
            width: 80%;
        }

        #p1 {
            /*text-indent:7%;*/
            text-align: right;
        }

        .message {
            word-break: break-word;
        }

        .praise {
            width: 40px;
            height: 40px;
            margin: 50px auto;
            cursor: pointer;
            font-size: 12px;
            text-align: center;
            position: relative;
        }
    </style>
</head>
<script type="text/javascript">
    //点赞

    /* @author:Romey
     * 动态点赞
     * 此效果包含css3，部分浏览器不兼容（如：IE10以下的版本）
     */
    $(function () {
        $("#praise").click(function () {
            var praise_img = $("#praise-img");
            var text_box = $("#add-num");
            var praise_txt = $("#praise-txt");
            var contentid = $("#contentid").text();
            var num = parseInt(praise_txt.text());
            if (praise_img.attr("src") == ("/uploadimgs/yizan.png")) {
                $(this).html("<img src='/uploadimgs/zan.png' id='praise-img' class='animation' />");
                praise_txt.removeClass("hover");
                text_box.show().html("<em class='add-animation'>+1</em>");
                $(".add-animation").removeClass("hover");
                num += 1;
                praise_txt.text(num);
                $.ajax({
                    url: '/detail/addzan',
                    type: 'POST',
                    data: {paperid: contentid},
                    success: function (res) {

                    }
                });
            } else {
                $(this).html("<img src='/uploadimgs/yizan.png' id='praise-img' class='animation' />");
                praise_txt.addClass("hover");
                text_box.show().html("<em class='add-animation'>-1</em>");
                $(".add-animation").addClass("hover");
                num -= 1;
                praise_txt.text(num);
            }
        });
    })

    //记住滚动条位置
    window.onbeforeunload = function () {
        var scrollPos;
        if (typeof window.pageYOffset != 'undefined') {
            scrollPos = window.pageYOffset;
        }
        else if (typeof document.compatMode != 'undefined' && document.compatMode != 'BackCompat') {
            scrollPos = document.documentElement.scrollTop;
        }
        else if (typeof document.body != 'undefined') {
            scrollPos = document.body.scrollTop;
        }
        document.cookie = "scrollTop=" + scrollPos; //存储滚动条位置到cookies中
    }
    window.onload = function () {
        if (document.cookie.match(/scrollTop=([^;]+)(;|$)/) != null) {
            var arr = document.cookie.match(/scrollTop=([^;]+)(;|$)/); //cookies中不为空，则读取滚动条位置
            document.documentElement.scrollTop = parseInt(arr[1]);
            document.body.scrollTop = parseInt(arr[1]);
        }
    }
    //初始化
    $(function () {
        //加载用户名
        $.ajax({
            url: '/page/getinfo',
            type: 'POST',
            success: function (result) {
                if (result.flag == false) {
                    $("#l1").html("<a href='../page/login'>" + result.info + "</a>");
                    l2.style.visibility = 'hidden';
                } else {
                    $("#l1").html("<a href=''>" + result.info + "</a>");
                }
            }
        });
        //自动点击获取回复
        $('.btnq').trigger("click");
    });

    //提交留言
    function commit(commentid) {
        if (commentid == "") {
            commentid = "0";
        }
        var content = $("#textarea").val();
        var paperid = $("#contentid").text();
        var input = /^[\s]*$/;
        if (input.test(content)) {
            toastr.warning("留言不能为空哦~");
            return false;
        }
        if (paperid == "") {
            toastr.warning('页面异常~');
            return false;
        }
        $.ajax({
            url: '/detail/addcomment',
            type: 'POST',
            data: {content: content, paperid: paperid, commentid: commentid},
            success: function (res) {
                if (res.flag == true) {
                    toastr.success(res.info);
                    setTimeout(function () {
                        location.reload();
                    }, 2000);
                } else {
                    toastr.warning(res.info);
                }
            }
        })
    }

    //提交回复
    function commitreply(commentid) {
        if (commentid == "") {
            commentid = "0";
        }
        var content = $("#textarea1").val();
        var paperid = $("#contentid").text();
        var input = /^[\s]*$/;
        if (input.test(content)) {
            toastr.warning("留言不能为空哦~");
            return false;
        }
        if (paperid == "") {
            toastr.warning('页面异常~');
            return false;
        }
        $.ajax({
            url: '/detail/addcomment',
            type: 'POST',
            data: {content: content, paperid: paperid, commentid: commentid},
            success: function (res) {
                if (res.flag == true) {
                    toastr.success(res.info);
                    setTimeout(function () {
                        location.reload();
                    }, 2000);
                } else {
                    toastr.warning(res.info);
                }
            }
        })
    }

    //提示登录才可评论
    function check() {
        $.ajax({
            url: '/page/getinfo',
            type: 'POST',
            success: function (result) {
                if (result.flag == false) {
                    toastr.warning('请登录后再留言~');
                    return false;
                }
            }
        });
    }

    //删除评论
    function delcomment(id) {
        var userid = [[${pagelist[0].userid}]];
        $.ajax({
            url: '/detail/delcomment',
            data: {userid: userid, commentid: id},
            type: 'POST',
            success: function (res) {
                if (res.flag == true) {
                    toastr.success(res.info + '两秒后重新加载评论！');
                    setTimeout(function () {
                        location.reload();
                    }, 2000);
                } else {
                    toastr.error(res.info);
                }
            }
        })
    }

    //显示回复
    var opt = "";
    function replydetail(id) {
        $.ajax({
            url: '/detail/getreply',
            data: {replyid: id},
            type: 'POST',
            success: function (res) {
                for (var i in res) {
                    var d = new Date(res[i].pubtime);
                    var year = d.getFullYear();
                    var month = d.getMonth() + 1;
                    var day = d.getDate();
                    var hour = d.getHours();
                    var min = d.getMinutes();
                    var sed = d.getSeconds();
                    opt += "<br/><legend></legend><p id='p1' class='message'>" + res[i].content + "</p>" +
                        "<span align='right' class='meta'><a href='/modify/getperinfo?perid=" + res[i].pubid + "'>" + res[i].nickname + "</a> " +
                        "<em>| </em> <span>" + year + "-" + month + "-" + day + " " + hour + ":" + min + ":" + sed + "</span> </span>";
                }
                $("#a" + id).html(opt);
                opt = "";
            }
        })
    }

    //收藏
    function collection() {
        var className = document.getElementById("btn1").className;
        //收入
        if (className=='btn btn-small'){
            $("#btn1").removeClass("btn btn-small");
            $("#btn1").addClass("btn btn-small active");
            $.ajax({
                url:'/detail/addcoll',
                type:'POST',
                data:{paperid:[[${pagelist[0].id}]]},
                success:function (res) {
                    if (res.flag==true){
                        toastr.success(res.info);
                    }else {
                        toastr.error(res.info);
                    }
                }
            })
        }
        //取消
        if (className=='btn btn-small active'){
            $("#btn1").removeClass("btn btn-small active");
            $("#btn1").addClass("btn btn-small");
            $.ajax({
                url:'/detail/calcoll',
                type:'POST',
                data:{paperid:[[${pagelist[0].id}]]},
                success:function (res) {
                    if (res.flag==true){
                        toastr.success(res.info);
                    }else {
                        toastr.error(res.info);
                    }
                }
            })
        }
    }

</script>
<body>
<div class="container">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span
                        class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a> <a
                    class="brand" href="/home/page">BlogZ</a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li>
                            <a href="/home/page">首页</a>
                        </li>
                        <li class="active">
                            <a href="../page/blogpage.html">博客</a>
                        </li>
                        <li>
                            <a href="">帮助</a>
                        </li>
                    </ul>
                    <ul class="nav pull-right">
                        <li id="l1">

                        </li>
                        <li id="l2">
                            <a href="/page/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--内容详情-->
    <div>
        <div class="pagination-centered">
            <h2><p th:utext="${pagelist[0].title}"></p></h2>
        </div>
        <div class="pagination-centered row">
            <p style="color:#2aabd2">发布时间：<span
                    th:utext="${#strings.substring(pagelist[0].pubtime,0,10)}+'&nbsp &nbsp &nbsp发布人：'+${pagelist[0].author}"></span>
            </p>
            <button th:if=" ${flag} ne '1'" id="btn1" onclick="collection()" type="button" class="btn btn-small" data-toggle="tooltip" title="收藏"><span class="icon-heart"></span></button>
            <button th:if=" ${flag} eq '1'" id="btn1" onclick="collection()" type="button" class="btn btn-small active" data-toggle="tooltip" title="收藏"><span class="icon-heart"></span></button>
            <button data-toggle="collapse" href="#myModal" type="button" class="btn btn-small" title="分享"><span class="icon-share"></span></button>
            <div class="panel-collapse collapse" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="share-component" data-sites="qzone,qq,weibo,wechat,douban"></div>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
        </div>
        <div th:utext="${pagelist[0].content}">文章详情加载中,请稍后...</div>
        <div th:utext="${pagelist[0].id}" hidden id="contentid"></div>
    </div>

    <br/><br/>
    <!--点赞-->
    <div class="praise">
        <span id="praise"><img src="/uploadimgs/yizan.png" id="praise-img" class="animation"></span>
        <span id="praise-txt" class="hover" th:text="${pagelist[0].zan}">777</span>
        <!--<span id="add-num" style="display: inline;"><em class="add-animation hover">+1</em></span>-->
    </div>
    <br/><br/><br/>
    <legend></legend>

    <!--评论-->
    <div>
        <a data-toggle="collapse" href="#message-reply" onclick="check()"><i class="icon-plus"></i> 我要留言</a>
        <div id="message-reply" class="panel-collapse collapse">
            <fieldset>
                <br/>
                <div class="control-group">
                    <div th:align="center">
                        <textarea class="input-xlarge" id="textarea" rows="5"></textarea>
                    </div>
                    <br/>
                    <div th:align="right">
                        <button class="btn btn-primary" onclick="commit()">提交</button>
                        &nbsp
                        <button class="btn" data-toggle="collapse" href="#message-reply">取消</button>
                    </div>
                </div>
            </fieldset>
        </div>
        <ul class="messages" th:each="listc:${commentlist}">
            <li class="well">
                <p class="message" th:text="${listc.content}">
                </p>
                <tr><a data-toggle="collapse" th:href="@{'#comment-reply'+${listc.id}}" onclick="check()">回复</a></tr>
                |
                <tr><a th:onclick="'javascript: delcomment('+${listc.id}+')'" href="javascript:void()">删除</a></tr>
                <div th:id="@{'comment-reply'+${listc.id}}" class="panel-collapse collapse">
                    <fieldset>
                        <br/>
                        <div class="control-group">
                            <div th:align="left">
                                <textarea class="input-xlarge" id="textarea1" rows="2"></textarea>
                            </div>
                            <br/>
                            <div th:align="right">
                                <button class="btn btn-primary" th:onclick="'javascript: commitreply('+${listc.id}+')'">
                                    提交
                                </button>
                                &nbsp
                                <button class="btn" data-toggle="collapse" th:href="@{'#comment-reply'+${listc.id}}">
                                    取消
                                </button>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <span th:align="right" class="meta"><a th:href="'/modify/getperinfo?perid='+${listc.pubid}"
                                                       th:text="${listc.nickname}"></a> <em>| </em> <span
                        th:utext="${#strings.substring(listc.pubtime,0,19)}"></span> </span>
                <!--评论回复-->
                <button class="btnq" th:onclick="'javascript: replydetail('+${listc.id}+')'" hidden>加载评论</button>
                <div th:id="@{'a'+${listc.id}}">

                </div>
            </li>
        </ul>
        <div class="pagination" align="center" th:if=" ${pageInfo.pages} ne '0'">
            <ul id="ul1">
                <li id="l4" th:if=" ${pageInfo.prePage} ne '0'">
                    <a href="#" th:href="@{'/detail/page?id='+${pagelist[0].id}+'&pageNum='+${pageInfo.firstPage}}"
                       id="a3">最前页</a>
                </li>
                <li id="l5" th:if=" ${pageInfo.prePage} ne '0'">
                    <a href="#" th:href="@{'/detail/page?id='+${pagelist[0].id}+'&pageNum='+${pageInfo.prePage}}"
                       id="a2">上一页</a>
                </li>
                <li class="active" th:if=" ${pageInfo.prePage} eq '0'">
                    <a>最前页</a>
                </li>
                <li class="active" th:if=" ${pageInfo.prePage} eq '0'">
                    <a>上一页</a>
                </li>
                <li>
                    <a>第<span id="s1" th:text="${pageInfo.pageNum}"></span>/<span id="s2"
                                                                                  th:text="${pageInfo.pages}"></span>页</a>
                </li>
                <li id="l6" th:if=" ${pageInfo.nextPage} ne '0'">
                    <a href="#" th:href="@{'/detail/page?id='+${pagelist[0].id}+'&pageNum='+${pageInfo.nextPage}}"
                       id="a1">下一页</a>
                </li>
                <li id="l7" th:if=" ${pageInfo.nextPage} ne '0'">
                    <a href="#" th:href="@{'/detail/page?id='+${pagelist[0].id}+'&pageNum='+${pageInfo.lastPage}}"
                       id="a4">最后页</a>
                </li>
                <li class="active" th:if=" ${pageInfo.nextPage} eq '0'">
                    <a>下一页</a>
                </li>
                <li class="active" th:if=" ${pageInfo.nextPage} eq '0'">
                    <a>最后页</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/site.js"></script>
</body>
</html>